html {
    
    position: relative;
    min-height: 100%;
}

body {
    margin: 8% 4% 8% 4%;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(-45deg, #899DD9, #97C1EF, #CCBEF1, #d0b2e8);
    overflow-x: hidden;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px  #D9BDEF 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #D9BDEF; 
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

a {
	outline: none;
	color: #000;
	text-decoration: none;
}

a:hover, a:focus {
	outline: none;
}

.nav-link a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-link a::before {
	color: transparent;
	content: '♡';
	text-shadow: 0 0 transparent;
	font-size: .75em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.nav-link a:hover::before,
.nav-link a:focus::before {
	color: #BB4DF6;
	text-shadow: -20px 0 #BB4DF6;
}

.nav-link a:hover,
.nav-link a:focus {
    text-decoration: none;
	color: #5272d3;
}

.sticky-top {
    top: 5%;
}

.nav-padding {
    padding-bottom: 6%;
}

h6 {
    text-align: right;
}

.subnav-item {
    align-self: flex-end;
}

.top-buffer {
    margin-top: 13%;
}

.md-buffer {
    margin-top: 5%;
}

/*Image classes*/

.gallery-img {
    background-color: transparent;
    max-width: 33%;
    height: auto;
    padding: 1%;
    align-self: flex-end;
}

.inner-photo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*Style for inner pages*/


.textbox-bar {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    height: 30px;
    padding-left: 5px;
    
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    background: linear-gradient(to bottom, #D9BDEF, #C0B2E8);
    
    box-shadow: 3px 2px 28px #888888;    
}

.circle {
    display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	
}

#left-circle {
    margin-left: 10px;
    background: #501B39
}

#middle-circle {
    background: #EAF783;
}

#right-circle {
    background: #34BDB4;
    
}

.filename {
    font-size: 12px;
}

.textbox-content {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #B5B5B5;
    background: #F4F7F6;
    height: 10em;
    overflow-y: scroll;
    box-shadow: 3px 8px 28px #888888;

    
}

.not-centered {
    margin: 0;
}

.text {
    padding: 0 5px;
}

@media (min-width: 768px) {
    body {
        margin: 4%;
    }
    
    h5 {
        font-size: 1.75rem;
    }
    
    h6 {
        font-size: 1.5rem;
    }
    
    #right-circle {
        margin-right: 15%;
    }
    
    .filename {
        font-size: 18px;
    }
    
}

@media (min-width: 992px) {
    h5 {
        font-size: 1.5rem;
    }
    
    h6 {
        font-size: 1.25rem;
    }
    
    .top-buffer {
        margin-top: 3%;
    }
    
    .gallery-img {
        max-width: 20%;
    }
    
    .inner-photo {
        max-width: 35%;
    }
    
    .textbox-bar {
        max-width: 35%;
    }
    
    #right-circle {
        margin-right: 0;
    }
    
    .textbox-content {
        max-width: 35%;
    }

}

/*Scrolling animations for new pages*/

.move-to-left-fade {
	-webkit-animation: moveToLeftFade .7s ease both;
	animation: moveToLeftFade .7s ease both;
}

.move-to-right-fade {
	-webkit-animation: moveToRightFade .7s ease both;
	animation: moveToRightFade .7s ease both;
}


@-webkit-keyframes moveToLeftFade {
	from { }
	to { opacity: 0; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	from { }
	to { opacity: 0; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

